/* Font face */
@font-face {
	font-family: 'Poppins-Regular';
	src: url('../Fonts/Poppins-Thin.otf');
	font-style: normal;
	font-weight: 100;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../Fonts/Poppins-Light.otf');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../Fonts/Poppins-LightItalic.otf');
	font-style: italic;
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../Fonts/Poppins-Regular.otf');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../Fonts/Poppins-Medium.otf');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../Fonts/Poppins-SemiBold.otf');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../Fonts/Poppins-Bold.otf');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../Fonts/Poppins-Black.otf');
	font-style: normal;
	font-display: swap;
	font-weight: 900;
}
