/* Font face */
@font-face {
<<<<<<< HEAD
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Thin.otf');
=======
	font-family: 'Poppins-Regular';
	src: url('../fonts/Poppins-Thin.otf');
	font-style: normal;
>>>>>>> fec0dfad6c3d6c48e2eef46119a1045f239cb4dd
	font-weight: 100;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Light.otf');
<<<<<<< HEAD
=======
	font-style: normal;
>>>>>>> fec0dfad6c3d6c48e2eef46119a1045f239cb4dd
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-LightItalic.otf');
<<<<<<< HEAD
=======
	font-style: italic;
>>>>>>> fec0dfad6c3d6c48e2eef46119a1045f239cb4dd
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.otf');
<<<<<<< HEAD
=======
	font-style: normal;
>>>>>>> fec0dfad6c3d6c48e2eef46119a1045f239cb4dd
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Medium.otf');
<<<<<<< HEAD
=======
	font-style: normal;
>>>>>>> fec0dfad6c3d6c48e2eef46119a1045f239cb4dd
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-SemiBold.otf');
<<<<<<< HEAD
=======
	font-style: normal;
>>>>>>> fec0dfad6c3d6c48e2eef46119a1045f239cb4dd
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Bold.otf');
<<<<<<< HEAD
=======
	font-style: normal;
>>>>>>> fec0dfad6c3d6c48e2eef46119a1045f239cb4dd
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Black.otf');
<<<<<<< HEAD
=======
	font-style: normal;
>>>>>>> fec0dfad6c3d6c48e2eef46119a1045f239cb4dd
	font-display: swap;
	font-weight: 900;
}
