@import './color.scss';
// Font

@mixin Font($fontSize, $lineHeight, $fontWeight, $color) {
	font-size: $fontSize;
	line-height: $lineHeight;
	font-weight: $fontWeight;
	color: $color;
}

@mixin Headline1($color) {
	@include Font(78px, 98px, 800, $color);
}

@mixin Headline2($color) {
	@include Font(48px, 64px, 800, $color);
}

@mixin Headline3($color) {
	@include Font(40px, 54px, 800, $color);
}

@mixin Headline4($color) {
	@include Font(28px, 40px, 800, $color);
}

@mixin Headline5($color) {
	@include Font(24px, 32px, 600, $color);
}

@mixin Headline6($color) {
	@include Font(20px, 32px, 500, $color);
}

@mixin Subtitle1($color) {
	@include Font(18px, 28px, 900, $color);
}

@mixin Subtitle2($color) {
	@include Font(16px, 28px, 500, $color);
}

@mixin Lead1($color) {
	@include Font(18px, 32px, 400, $color);
}

@mixin Lead2($color) {
	@include Font(14px, 24px, 600, $color);
}

@mixin Body1($color) {
	@include Font(18px, 26px, 400, $color);
}

@mixin Body2($color) {
	@include Font(14px, 22px, 900, $color);
}

@mixin LargeLabel($color) {
	@include Font(16px, 30px, 600, $color);
}

@mixin LargeLabel2($color) {
	@include Font(14px, 20px, 400, $color);
}

@mixin LargeLabel3($color) {
	@include Font(11px, 16px, 400, $color);
}

@mixin Capitalised($color) {
	@include Font(14px, 18px, 800, $color);
	letter-spacing: 1px;
	text-transform: capitalize;
}

@mixin BadgeLabel($color) {
	@include Font(20px, 25px, 400, $color);
}
