@import './color.scss';

// Font
@mixin Font($fontSize, $lineHeight, $fontWeight) {
	font-size: $fontSize;
	line-height: $lineHeight;
	font-weight: $fontWeight;
	font-family: 'Poppins';
}
@mixin Headline1 {
	@include Font(78px, 98px, 900);
}
@mixin Headline2 {
	@include Font(48px, 64px, 900);
}
@mixin Headline3 {
	@include Font(40px, 54px, 900);
}
@mixin Headline4 {
	@include Font(28px, 40px, 900);
}
@mixin Headline5 {
	@include Font(24px, 32px, 600);
}
@mixin Headline6 {
	@include Font(20px, 32px, 500);
}

@mixin Subtitle1 {
	@include Font(20px, 28px, 700);
}
@mixin Subtitle2 {
	@include Font(18px, 28px, 600);
}
@mixin Subtitle3 {
	@include Font(16px, 28px, 500);
}

@mixin Lead1 {
	@include Font(18px, 32px, 400);
}
@mixin Lead2 {
	@include Font(14px, 24px, 500);
}

@mixin Body1 {
	@include Font(18px, 26px, 500);
}
@mixin Body2 {
	@include Font(14px, 20px, 400);
}

@mixin LargeLabel1 {
	@include Font(20px, 30px, 600);
}
@mixin LargeLabel2 {
	@include Font(14px, 20px, 700);
}
@mixin LargeLabel3 {
	@include Font(13px, 16px, 600);
}

@mixin Capitalised {
	@include Font(14px, 18px, 900);
	letter-spacing: 1px;
	text-transform: capitalize;
}

@mixin BadgeLabel {
	@include Font(20px, 25px, 400);
}
