@import '../../../../../../styles/config/mixins.scss';
@import '../../../../../../styles/config/color.scss';

.close {
	bottom: -60vh;
	transition: all 0.3s;
}

.open {
	bottom: -1px;
	transition: all 0.3s;
}

.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	width: 95%;
	min-height: 35vh;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	padding: 1rem 1.5rem;
	border-radius: 15px 15px 0 0;
	background: linear-gradient(180deg, #9123ff 0%, rgb(0, 54, 115) 220.78%);

	.productInfo {
		display: flex;
		flex-direction: column;
		width: 90%;
		align-self: flex-start;
		gap: 5px;
		color: white;
		margin-bottom: 25px;

		h2 {
			@include LargeLabel1();
		}

		h4 {
			@include LargeLabel3();
		}
	}

	.buttonContainer {
		display: flex;
		flex-direction: column;
		gap: 15px;
		min-width: 100%;

		// Custom buttons
		.whatsappButton,
		.cartButton {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			column-gap: 10%;
			min-width: 100%;
			padding: 5px 5%;

			border: none;
			border-radius: 10px;

			img {
				width: 30px !important;
				height: 30px !important;
			}
		}

		.whatsappButton {
			h4 {
				color: #06a85a;
				@include Body2();
			}
			background-color: #fff;
		}
		.cartButton {
			h4 {
				color: #fff;
				@include Body2();
			}
			border: 1px solid #ffff;
			background-color: transparent;
			transition: all 0.3s;

			&:hover {
				background-color: rgb(48, 48, 48);
			}
		}
	}

	// Close button
	.closeButton {
		@include Headline5();
		position: absolute;
		font-weight: bolder;

		color: #fff;
		background-color: transparent;

		border: none;
		margin-left: auto;

		cursor: pointer;
	}
}
