@import '../../../../../styles/config/color.scss';
@import '../../../../../styles/config/mixins.scss';

.isVisible {
	visibility: visible !important;
	transition: 0.5s !important;
}

.container {
	z-index: 10 !important;

	visibility: hidden;
	width: 90%;
	max-height: 65vh;
	padding: 10px;
	padding-top: 30px;

	position: fixed;
	bottom: -1px;
	left: 50%;
	transform: translateX(-50%);

	border-radius: 4px;
	background: linear-gradient(180deg, #9123ff 0%, rgb(0, 54, 115) 220.78%);
	color: white;

	p {
		@include LargeLabel3();
	}

	.closeButton {
		position: absolute;
		right: 10px;
		top: 10px;
		border: none;
		background-color: transparent;
		color: white;
		cursor: pointer;
	}

	.header {
		display: flex;
		align-items: center;
		gap: 10px;

		h1 {
			@include Headline5();
		}

		img {
			width: 150px;
			height: 150px;
			border-radius: 50%;
		}
	}
	.description {
		margin: 15px 0px;
		p {
			@include LargeLabel2();
			text-align: center;
		}
	}

	.branch_office {
		h5 {
			@include Body2();
		}
	}
}
