@import './config/color.scss';
@import './config/mixins.scss';

.menu {
	display: flex;
	flex-direction: column;
	gap: 15px;
	height: 100%;
	width: 150px;

	.profile {
		display: flex;
		padding: 15px 0px;
		justify-content: center;
		align-items: center;

		font-size: 10px;
		background-color: $violet;
		color: white;

		h2 {
			@include Subtitle3();
			font-weight: 400;
		}

		gap: 5px;
	}

	button {
		border: none;
		background-color: transparent;

		text-align: left;
		padding: 10px 0px;
		padding-left: 15px;

		@include LargeLabel3();
		font-size: 14px;

		&:hover {
			background-color: lightgray;
		}
	}
}
