@import './config/color.scss';

.head {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: $violet;
	height: 80px;
	position: relative;

	.iconContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 10px;
		top: 50%;
		transform: translateY(-50%);
		height: 30px;
		width: 30px;
		cursor: pointer;
	}
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 15px;

	button {
		width: 50%;
		height: 35px;
		border: none;
		border-radius: 8px;
		padding: 5px 15px;
		background-color: $violet;
		color: white;
		cursor: pointer;
	}
}

.defaultPage {
	h1 {
		font-size: 18px;
	}

	.chooseTypeContainer {
		display: flex;
		flex-direction: column;
		gap: 15px;
		width: 60%;
		margin: auto;
		margin-top: 50px;

		button {
			height: 50px;
			font-size: 15px;
			border: none;
			border-radius: 8px;
			background-color: $violet;
			color: white;
			cursor: pointer;
		}
	}
}

.inListContainer {
	h1 {
		font-size: 18px;
		text-align: center;
	}
	form {
		p {
			font-size: 11px;
		}
	}
}

.previewContainer {
	text-align: center;
	h1 {
		font-size: 18px;
	}

	form {
		div {
			display: flex;
			flex-direction: column;
		}

		.inputNumber {
			flex-direction: row;
			gap: 50px;
			input {
				width: 50px;
			}
		}
	}
}
