@import '../styles/config/color.scss';

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
	gap: 10px;
	margin: auto;
	margin-top: 50px;
	text-align: center;

	form {
		display: flex;
		flex-direction: column;
		gap: 15px;
		input {
			height: 30px;
			padding: 0px 10px;
			font-size: 14px;
			border-radius: 8px;
			border: none;
		}

		.password {
			display: flex;
			justify-content: space-between;
			align-items: center;
			input {
				width: 90%;
			}
			button {
				background-color: transparent;
				color: black;
				width: fit-content;
				padding: 0px;
				margin: 0px;
			}
		}

		button {
			width: fit-content;
			border: none;
			border-radius: 8px;
			background-color: $violet;
			padding: 10px 35px;
			margin: auto;
			margin-top: 15px;
			color: white;

			&:disabled {
				opacity: 0.5;
			}
		}
	}
}
