@import './config/color.scss';

.container {
	background-color: $violet;
	min-height: 100vh;
	color: white;

	.head {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		.iconContainer {
			position: absolute;
			left: 0;
		}
	}

	.buttonList {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 60%;
		margin: auto;
		margin-top: 100px;

		button {
			height: 30px;
			background-color: white;
			border: none;
			border-radius: 4px;
		}
	}
}
