@import '../../styles/config/color.scss';

.container {
	width: 140px;
	min-height: 164px;
	text-align: center;

	h1 {
		font-size: 14px;
	}

	.fallBackImage {
		height: 128px;
		width: 136px;
		background-color: $label;
		margin: auto;
	}
}
