@import '../../../../../styles/config/color.scss';

.chooseTypeContainer {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 60%;
	margin: auto;
	margin-top: 50px;

	button {
		height: 50px;
		font-size: 15px;
		border: none;
		border-radius: 8px;
		background-color: $violet;
		color: white;
		cursor: pointer;
	}
}
