.container {
	display: flex;
	gap: 2px !important;

	select {
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;

		min-height: 25px;
		color: black;
		text-align: center;

		border: none;
		border-radius: 4px;
		padding: 0px 5px;

		option {
			&:hover {
				background-color: palevioletred;
			}
		}

		&:focus {
			outline: none;
		}
	}

	.twoPoints {
		font-weight: bolder;
	}
}
